


/* Settings */

@media (min-width:850px) {
  :root {
    --sidebar-width: 200px ;
  }

}@media (min-width:1200px) {
  :root {
    --sidebar-width: 14.4vw ;
  }

}

:root{
  --primary-color: #2699fb;
  --primary-color-dim:#3F76BA;
  --gray-color: #666666;
  --text-color: #0d1111;
  --hover-background: #ccc;
  --active-background: #aaa;
  --line-color: #cfcfcf;
}



/* Objects */
.o-list {
  list-style: none;
  padding: 0;
}

/* Elements */
body,
html {
  font: 16px / 1.5 proxima-nova, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  color: var(--text-color);
  font-weight: 400;
  height: 100vh;
}

::selection {
  color: #ccc;
  fill: #ccc;
  background: var(--primary-color);
}

h1 {
  font-size: 1.6rem;
  font-weight: 600;
}

h2 {
  /* letter-spacing: 0.05rem; */
  font-weight: 500;
  font-size: 1.3rem;
}


/* Components */
/* .c-app {
  display: grid;
  min-height: 100vh;
  grid-template-columns: var(--sidebar-width) 1fr;
  grid-template-rows: auto 1fr;
} */
.c-logo{
  display: none;
}
.c-topbar{
  display: none;
}
.c-sidebar{
  display:none;
  user-select: none !important;

}
.c-sidebar__subtitle{
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  line-height: 0;
  color: #000;
  vertical-align: middle;
  user-select: none !important;

}

.c-sidebar__subtitle svg,
.c-sidebar__subtitle p{
  display: inline;
  vertical-align: middle;
  text-transform: uppercase;
}
.c-sidebar__subtitle svg{
  margin-right: 8px;
}


.c-switch{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
/* Hide default html checkbox */
.c-switch__input{
  opacity: 0;
  width: 0;
  height: 0;
}
.c-switch__slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left:0;
  bottom:0;
  right:0;
  background-color: var(--hover-background);
  -webkit-transition: .4s;
  transition: .4s;

}
.c-switch__slider:before{
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;

}
input:checked + .c-switch__slider{
  background-color: var(--primary-color);
}
input:focus + .c-switch__slider{
  box-shadow: 0 0 1px var(--primary-color)
}
input:checked + .c-switch__slider:before{
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}
.u-round{
  border-radius: 34px;
}
.u-round:before{
  border-radius: 50%;
}

.c-dropdown-icon,
.c-dropup-icon{
  float: right;
  margin-right: 0;
}
.c-mobile-dropdown-icon,
.c-mobile-dropup-icon{
  padding-right: 16px;
}



.c-radio{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  gap: 8px;
  margin-left: 16px;
  justify-content: flex-end;
}

.c-range--input{
  display: none !important;
}

.c-range--label{
  font-size: 16px;
  font-weight: normal;
  color: black;
}

.c-range--input:checked + .c-range--label{
  text-decoration: underline;
  color: var(--primary-color);
}


.c-page-historiek{
  margin: 24px 16px 0 16px; 
}

  .c-settings{
    margin-left: 16px;
  }

.c-indicatie{
  background-color:red;
  border-radius: 8px;
  width: 12px;
  height: 12px;
}

.c-icon
{
  height: 48px;
  width: 48px;
}


.u-green{
  background-color: green;
}
.u-spacing-left-mobile{
  display: none;
}

.c-power-management{
  top: 80px;
  right: 24px;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse ;
  width: 200px;
  justify-content: flex-end;
  align-items: center ;
  background-color: #f3f3f3;
  border-radius: 4px;
  padding: 8px 0; 
  border: 1px solid #A5A5A5;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.c-power-management span{
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500 ;
}
.c-power-management .c-icon{
  height: 32px;
  width: 32px;
}
.c-item{
  display: flex;
  gap: 16px;
  align-items: center ;
  padding: 4px 0 4px 16px;
  width: 100%
}
.c-item:hover{
  transition: all .3s;
  cursor: pointer;
  user-select: none;
}
.c-item:hover{
  background: var(--hover-background);
}
.c-item:active{
  background: var(--active-background);
  color: var(--text-color);
}
.c-chart-title{
  display: none;
}


@media (min-width:900px) {
  /* Navigatie voor desktopwebsites */
  .c-logo {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 14.399375rem;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    background: var(--primary-color);
  } 

    .c-mobile-nav{
      display: none;
    }
  .c-topbar {
    position: fixed;
    top: 0px;
    left :14.399375rem;
    right:0px;
    padding: 0 2rem;
    height: 72px;
  }
  .c-logo__symbol {
    display: block;
    height: 2.5rem;
    fill: white;
  }
  .c-topbar{
    background: rgba(255, 255, 255, 1);
    border-bottom: 1px solid #cfcfcf;
    display: flex;
    align-items: center;
  }
  .c-topbar h2{
    font-size: 30px;
    font-weight: 400;
    line-height: 1;
    color: var(--gray-color);
  }
  .c-topbar svg{
    margin-left: auto;
    margin-right: 16px;
    transition: all .2s;
    border-radius: 16px;
  }
  .c-topbar svg:hover{
    background: var(--hover-background);
  }
  .c-topbar svg:active{
    background: var(--active-background);
    fill: var(--text-color);
  }
  .c-actueel{
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
  }
  .c-sidebar {
    display: inline;
    position: fixed;
    box-sizing: border-box;
    padding: 1rem 0;
    width: 14.399375rem;
    top: 72px;
    height: calc(100vh - 72px);
    overflow-y: auto;
    overflow-x: hidden;
    background: #EAEAEA;
  }
  .c-sidebar__title {
    margin: 0 0 16px 0;
    font-size: 1.4rem;
    font-weight: 500;
    padding-left: 24px;
    padding-bottom: 16px;
    text-align: left;
    border-bottom: 1px solid rgba(112,112,112,0.34);
  }
  .c-sidebar__subtitle {
    margin: 0;
    padding: 12px 16px;
    transition: background  .3s;

  }
  .c-sidebar__subtitle:hover,
  .c-sidebar__subtitle:focus{
    background: #BCE0FD;
  }
    
  .c-sidebar-item {
    margin: 0.5rem 0;
  }
  
  .c-sidebar-button {
    all: unset;
    /* opacity: 0.7; */
    font-weight: 500;
    /* will-change: opacity; */
    cursor: pointer;
  }
  .js-dropdown-btn{
    padding-left: 48px;
    padding-bottom: 8px;
    padding-top: 8px;
    margin: 0;
    font-size: 14px;
    font-weight: 300;
  }
  .js-dropdown-btn:hover{
    background: var(--hover-background);
  }
  .js-dropdown-btn:active{
    background-color: var(--active-background);
  }
  .c-sidebar-button:hover {
    /* opacity: 1; */
  }
  .c-sidebar .c-selected, .c-sidebar__subtitle:active{
    background: var(--primary-color-dim);
    color: white !important;
  }
    .c-sidebar .c-bottom{
      position:fixed;
      bottom: 20px;
      width: calc(14.399375rem - 32px);
    }
  .u-pos-top-right{
    position: fixed;
    top: 16px;
    right: 32px;
    z-index: 10;
  }
  .c-right{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    align-items: center;
  }

}

.chart{
  width: 100%;
}

.c-box{
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid #A5A5A5;
  width: 413px;
  margin-bottom: 8px;
  box-shadow: 0 3px 6px #a5a5a5;
  border-radius: 4px;
  
}
.c-box--wide{
  width: 826px;
}


.c-box__header{
  border-bottom: 1px solid #a5a5a5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c-box__header .c-icon
{
  padding-left: 16px ;
  height: 48px;
  width: 48px;
  fill: rgb(127, 127, 127) !important;
}
.c-box__header .c-historiek{
  height: 48px;
  width: 48px;
  fill: rgb(127, 127, 127);
  border-radius: 12px;
}
.c-historiek:hover{
  background: #ccc;
}
.c-historiek:active{
  background: #aaa;
  fill: #333;
}


.c-box__header div{
  margin-right: 16px;
}

.c-inhoud-titel{
  font-size: 30px;
  line-height: 0px;
  font-weight: 400;
  color: var(--gray-color);
  user-select: none;
}
.c-box__content{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* height:230px; */
}
.c-box__content .c-chart{
  position: static;
  margin: 0 auto; 
  margin-bottom: 16px;

}

.c-box__content--btn{
  display:none;
}
.c-content{
  margin: auto;
  padding-left: 14.399375rem;
  padding-top: 80px;
  max-width: 80rem;

}



.c-hidden{
  display: none !important;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
thead tr {
  background-color: var(--primary-color);
  color: #ffffff;
  text-align: left;
}
th,
td {
    padding: 12px 15px;
}
th{
  text-align: left;
}
 tbody tr {
  border-bottom: 1px solid #dddddd;
}

  tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

  tbody tr:last-of-type {
  border-bottom: 2px solid var(--primary-color);
}
  tbody tr.active-row {
  font-weight: bold;
  color: #2699fb;
}

.c-mobile{
  display: none;
}


@media (max-width:900px) {
  .c-mobile{
    display: block;
  }
  .c-box{
    flex-basis: 48%;
  }
  .c-box--wide{
    flex-basis: 96%;
  } 
  .c-box__content{
    max-height: 160px;
  }
  

  .c-mobile--logo{
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 0;
    max-width: 50vw;
    margin-left: 16px !important;
    /* background: var(--primary-color); */
  }
  .c-mobile--topbar{
    position: fixed;
    top: 0px;
    background-color: #fff;
    z-index: 1000;
    height: 57.594px;
    width: 100vw;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap:32px;
    border-bottom: 1px solid #cfcfcf !important;
  }
  .c-mobile--topbar *{
    /* display: inline; */
    margin: 0;
  }
  .c-mobile--topbar h2{
    color: var(--gray-color);
    display: none;
    /* margin: auto; */
  }
  .c-topbar--right{
    width: 160px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
  .c-topbar--right svg{
    align-content: right;
  }
  .js-refesh{
    margin-right: 16px;
  }

  .c-hamburger-menu, 
  .c-close-hamburger{
    margin-right: 24px;
  }
  .c-mobile-nav{
    position: fixed;
    z-index: 1000;
    top: 57.594px;
    width: 100vw;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin:0;
    right: -100vw;
    height: calc(100vh - 57.594px);
    background: #fafafa;
    z-index: 0;
    transition: transform .3s;
  }
  .c-show-nav{
    transform: translateX(-100vw);
  }


  .c-mobile-nav .c-sidebar__subtitle{
    width: 100%;
    display: block;
    margin: 0;
    padding: 12px 16px;
    transition: background  .3s;
    border-bottom: 1px solid var(--line-color);
    /* border-collapse: collapse; */
  }
  .c-mobile-nav .c-sidebar__title{
    display: none;
  }
  .c-sidebar__subtitle{
    user-select: none !important;
  }

  .c-sidebar__subtitle:nth-child(2){
    /* padding-top: 24px; */
    margin-top: 24px;
    border-top: 1px solid var(--line-color);
  }
  .c-sidebar__subtitle:last-child{
    margin-top: auto;
    margin-bottom: 8px;
    border-bottom: none;
    border-top: 1px solid var(--line-color);
  }
  
  .c-sidebar__subtitle:hover,
  .c-sidebar__subtitle:focus{
    background: #BCE0FD;
  }
    
  .c-sidebar-item {
    margin: 0.5rem 0;
  }
  .c-sidebar .c-selected, .c-sidebar__subtitle:active{
    background: var(--primary-color-dim);
    color: white !important;
  }
  .c-content{
    padding: 0px ;
    margin-top: 60px;
  }

  .c-box__header{
    display: flex;
    margin-bottom: 8px;
  }
  .c-box__header div{
    margin-right: 8px;
  }
  .c-right{
    margin-right: 0;
  }
  .c-indicatie{
    margin-right: 0px !important;
  }
  .u-spacing-left-mobile{
    display: inline;
    width: 12px;
  }
  .c-inhoud-titel{
    font-size: 16px;
    text-align: center;
  }
  .c-box__header svg, .c-box__header img{
    display: none;
  }



  .c-chart{
    margin-bottom: 8px;
  }
  .js-pm-chart-NOP{
    padding-top: 16px;
    margin-bottom: 0px !important;
  }

  .c-mobile--logo{
    height: 100%;

  }
  .c-mobile--logo__symbol{
    align-self: center;
  }
  .c-mobile--logo:hover{
    background-color: var(--hover-background);
  }
  .c-mobile--logo:active{
    background-color: var(--active-background);
    fill: var(--text-color);
  }
  .c-selected{
    background: var(--primary-color-dim);
    fill: white !important;
    color: #fff;
  }

  .c-sidebar-dropdown{
    width: 100%;
  }
  .js-dropdown-btn{
    width: 100%;
    padding-left: 48px;
    padding-bottom: 8px;
    padding-top: 8px;
    margin-right: 0px;
    margin: 0;
    font-size: 14px;
    font-weight: 300;
  }
  .js-dropdown-btn:hover{
    background: var(--hover-background);
  }
  .js-dropdown-btn:active,
  .js-dropdown-btn.c-selected{
    background-color: var(--primary-color-dim);
    color: #fff;
    fill: #fff;
  }
  .c-radio{
    position: fixed;
    top: 16px;
    right: 160px;
  }
  .u-pos-top-right{
    position: fixed;
    top: 4px;
    right: 88px;
  }
  .c-actueel{
    margin-left: 4px;
    margin-top:16px;display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
  
} 
.c-clickable-icon{
  border-radius: 12px;
  transition: all .3s;
  cursor: pointer;
  user-select: none;
}

.c-clickable-icon:hover{
background: var(--hover-background);
}
.c-clickable-icon:active{
  background: var(--active-background);
  color: var(--text-color);
}

.u-table-title{
  text-align: center;
}

@media (max-height: 500px){

  .c-mobile--topbar{
    position: static;
    height: 57.594px;
    width: 100vw;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap:32px;
    border-bottom: 1px solid #cfcfcf !important;
  }
  .c-content{
    overflow-y: hidden !important;
    margin-top: 0px;
  }

  .c-box__content{
    height: 30vh;
  }
  .c-box{
    flex-basis: 24%;
    border-radius: 4px;
  }
  .c-box--wide{
    flex-basis: 48%;
  } 
  .c-actueel{
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
    margin-left: 16px;
    gap: 8px;
  }
  .c-mobile-nav{
    width: 40vw;
    right: -40vw;
  }
  .c-show-nav{
    transform: translateX(-40vw);
  }
  .c-mobile--topbar h2{
    display: unset;
    color: var(--gray-color);
    /* margin: auto; */
  }
  .c-mobile--logo{
    width: 20vw;
    margin-left: 0 !important;
  }
  .c-dropdown-range{
    display:  none;
  }
}


@media (max-width: 900px) and (min-height: 500px){
  .js-dropdown-btn{
    display: none !important;
  }
  .c-dropdown-range{
    display: unset;
    width: 100%;
  }
  .c-dropdown-range h4{
    width: 100%;
    padding-left: 48px;
    padding-bottom: 8px;
    padding-top: 8px;
    margin-right: 0px;
    margin: 0;
    font-size: 14px;
    font-weight: 300;
  }
  .c-dropdown-range h4:hover{
    background: var(--hover-background);
  }
  .c-dropdown-range h4:active,
  .c-dropdown-range h4.c-selected{
    background-color: var(--primary-color-dim);
    color: #fff;
    fill: #fff;
  }
  .c-chart-title{
    display: block;
    text-align: center;
  }
}